<form [formGroup]="recipeForm" (ngSubmit)="onSubmit(recipeForm.value)">

  <label for="recipeName">Nazwa przepisu: </label>
  <input id="recipeName" type="text" formControlName="recipeName">

  <label for="recipeType">Typ dania: </label>
  <select formControlName="recipeType">
    <option value="" disabled>Wybierz typ dania</option>
    <option *ngFor="let type of recipes_types" [ngValue]="type.value">
        {{type.viewValue}}
    </option>   
  </select>

  <label for="portionsAmount">Ilość porcji: </label>
  <input id="portionsAmount" type="number" formControlName="portionsAmount">

  <div formArrayName="ingredients">
    <div *ngFor="let ing of ingredients.controls; let i=index">
      <div [formGroupName]="i">

        <label for="ingredientName-{{i}}">Nazwa składniku: </label>
        <input id="ingredientName-{{i}}" type="text" formControlName="name">

        <label for="ingredientAmount-{{i}}">Ilość: </label>
        <input id="ingredientAmount-{{i}}" type="number" formControlName="amount">

        <label for="ingredientUnit-{{i}}">Jednostka: </label>
        <select formControlName="unit">
          <option value="" disabled>Wybierz jednostkę</option>
          <option *ngFor="let unit of units" [ngValue]="unit.value">
              {{unit.viewValue}}
          </option>   
        </select>
 
      </div>
    </div>
  </div>
  <button type="button" (click)="addIngredient()">Dodaj składnik</button>

  <div formArrayName="steps">
    <div *ngFor="let step of steps.controls; let i=index">
      <div [formGroupName]="i">

        <label for="stepDescription-{{i}}">Opis kroku: </label>
        <textarea id="stepDescription-{{i}}" cols="60" rows="5" formControlName="description"></textarea>
 
      </div>
    </div>
  </div> 
  <button type="button" (click)="addStep()">Dodaj krok</button>
  <button type="submit" [disabled]="!recipeForm.valid">Submit</button>

</form>



<p>Form Status: {{ recipeForm.status }}</p>
{{this.recipeForm.value | json}}
<router-outlet></router-outlet>